# Node modules
node_modules/

# Parcel build output
dist/
.cache/
.parcel-cache/

# OS/Editor files
.DS_Store
Thumbs.db
*.log

# 환경설정/비밀키
.env
.env.*

# 기타
npm-debug.log*
yarn-debug.log*
yarn-error.log* 